.board_area{

}
.board_area .contents{

}
.board_area .contents .board_title{

}
.board_area .contents .board_title h2{
  font-size: 28px;
}
.board_area .contents .board_view{
  border-top: 1px solid #666;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
.board_area .contents .board_view .board_view_title{
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
  background-color: #eee;
}
.board_area .contents .board_view .board_view_title h3{
  margin-bottom: 0;
  font-size: 18px;
  line-height: 50px;
}
.board_area .contents .board_view .board_view_info{
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
}
.board_area .contents .board_view .board_view_info .register_id{
  margin-right: 20px;
  position: relative;
}
.board_area .contents .board_view .board_view_info .register_id::after{
  content: '';
  display: block;
  width: 1px;
  height: 14px;
  background-color: #ddd;
  position: absolute;
  right: -8px;
  top: 3px;
}
.board_area .contents .board_view .board_view_info .register_id strong{

}
.board_area .contents .board_view .board_view_info .register_day{

}
.board_area .contents .board_view .board_view_info .view_count{
  float: right;
}
.board_area .contents .board_view .board_view_info .view_count strong{
  margin-right: 5px;
}
.board_area .contents .board_view .board_view_content{
  padding: 20px;
}
.board_area .contents .btn_right_box{
  display: flex;
  justify-content: flex-end;
}
.board_area .contents .btn_right_box button{
  outline: 0;
  color: #000;
  background-color: none;
  border: 1px solid #aaa;
  font-size: 14px;
  cursor: pointer;
}
.lh-40{
  line-height: 40px;
}